<tr>
    <td class="student">
      
        <span class="links">
            <a href="/students/<%= student.id%>"><%= student.name %></a></span>
       
    </td>
   
    <td><%= student.nickname %></td>
    <td><%= student.kelas %></td>
    <td><%= student.food %></td>
  
</tr>

    
    