<h1>Listing students</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Class</th>
    <th>Favorite Food</th>
    <th>Favorite Person</th>
    <th>Notes</th>
    <th>Skill ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.kelas %></td>
    <td><%= student.food %></td>
    <td><%= student.person %></td>
    <td><%= student.notes %></td>
    <td><%= student.skill_id %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path %> |
<%= link_to 'Full list of classes', skills_path %> |
<%= link_to 'List of Forms', forms_path %>

