<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @skill.name %>
</p>

<p>
  <b>ID:</b>
  <%= @skill.form_id %>
</p>


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Full list of classes', skills_path %> |
<%= link_to 'List of Forms', forms_path %>

