<%= form_for(@level) do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :form_id %><br />
    <%= f.text_field :form_id %>
  </div>
  <div class="field">
    <%= f.label :class %><br />
    <%= f.text_field :class %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
