<p id="notice"><%= notice %></p>

<p>
  <b>Form:</b>
  <%= @level.form_id %>
</p>

<p>
  <b>Class:</b>
  <%= @level.class %>
</p>


<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>
